/* Base theme */
.bn-container[data-theming-css-variables-demo][data-color-scheme] {
    --bn-colors-editor-text: #222222;
    --bn-colors-editor-background: #bbb6b6;
    --bn-colors-menu-text: #000000;
    --bn-colors-menu-background: #b8b5b2;
    --bn-colors-tooltip-text: #000000;
    --bn-colors-tooltip-background: #b8b5b2;
    --bn-colors-hovered-text: #100101;
    --bn-colors-hovered-background: #a8a7a5;
    --bn-colors-selected-text: #160429;
    --bn-colors-selected-background: #a6a4a2;
    --bn-colors-disabled-text: #9b0000;
    --bn-colors-disabled-background: #7d0000;
    --bn-colors-shadow: #d2a9a9;
    --bn-colors-border: #a18888;
    --bn-colors-side-menu: #bababa;
    --bn-color-highlight-colors: #dff792;
    --bn-border-radius: 2px;
    --bn-font-family: Helvetica Neue, sans-serif;
  }
  
  /* Changes for dark mode */
  .bn-container[data-theming-css-variables-demo][data-color-scheme="dark"] {
    --bn-colors-editor-text: #1d0101;
    --bn-colors-editor-background: #bbb6b6;
    --bn-colors-side-menu: #ffffff;
  }
  